/* Collection of quick CSS styles which are commonly used */

/* STYLING OF PHP ERROR MESSAGES IN WAMP */
.xdebug-error { font-size: 10px !important; }
pre {background: #FFFFFF; border: 1px solid; font-size: 10px !important; }

/* Site CSS utils */
.removePadding { padding: 0 !important; }
.removeMargin { margin: 0 !important; }

.bgFacebook {
	background: #395f9e;
}

.bgGoogle {
	background: #d01820;
}

.bgTwitter {
	background: #00adef;
}

.bdsFFFFFF { border: 1px solid #FFFFFF; }
.bdsCCCCCC { border: 1px solid #CCCCCC; }
.bdsAAAAAA { border: 1px solid #AAAAAA; }
.bds999999 { border: 1px solid #999999; }
.bds666666 { border: 1px solid #666666; }
.bds333333 { border: 1px solid #333333; }
.bds000000 { border: 1px solid #000000; }
.bdsCC0000 { border: 1px solid #CC0000; }
.bds00CC00 { border: 1px solid #00CC00; }
.bds0000CC { border: 1px solid #0000CC; }

.bddFFFFFF { border: 1px dashed #FFFFFF; }
.bddCCCCCC { border: 1px dashed #CCCCCC; }
.bddAAAAAA { border: 1px dashed #AAAAAA; }
.bdd999999 { border: 1px dashed #999999; }
.bdd666666 { border: 1px dashed #666666; }
.bdd333333 { border: 1px dashed #333333; }
.bdd000000 { border: 1px dashed #000000; }
.bddCC0000 { border: 1px dashed #CC0000; }
.bdd00CC00 { border: 1px dashed #00CC00; }
.bdd0000CC { border: 1px dashed #0000CC; }

.round0 { border-radius: none; border-radius: 0; -moz-border-radius: none; -moz-border-radius: 0; -webkit-border-radius: none; -webkit-border-radius: 0; }	
.round1 { border-radius: 1px; -moz-border-radius: 1px; -webkit-border-radius: 1px;}
.round2 { border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;}
.round3 { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.round4 { border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;}
.round5 { border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
.round6 { border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;}
.round7 { border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px;}
.round8 { border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px;}
.round9 { border-radius: 9px; -moz-border-radius: 9px; -webkit-border-radius: 9px;}
.round10 { border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;}
.round11 { border-radius: 11px; -moz-border-radius: 11px; -webkit-border-radius: 11px;}
.round12 { border-radius: 12px; -moz-border-radius: 12px; -webkit-border-radius: 12px;}

.txt10 { font-size: 10px; }
.txt11 { font-size: 11px; }
.txt12 { font-size: 12px; }
.txt13 { font-size: 13px; }
.txt14 { font-size: 14px; }
.txt16 { font-size: 16px; }
.txt18 { font-size: 18px; }
.txt21 { font-size: 21px; }
.txt24 { font-size: 24px; }

.txtFFFFFF { color: #FFFFFF; }
.txt000000 { color: #000000; }
.txtCC0000 { color: #CC0000; }
.txt00CC00 { color: #00CC00; }
.txt0000CC { color: #0000CC; }

.txtBold { font-weight: bold; }
.txtNormal { font-weight: normal; }
.underline { text-decoration: underline; }
.noUnderline { text-decoration: none; }

.displayNone { display: none; }
.displayBlock { display: block; }
.displayInlineBlock { display: inline-block; }
.displayInline { display: inline; }
.displayTable { display: table; }




.pad5 { padding: 5px}.pad10 { padding: 10px}.pad15 { padding: 15px}.pad20 { padding: 20px}.pad25 { padding: 25px}.pad30 { padding: 30px}.pad35 { padding: 35px}.pad40 { padding: 40px}.pad45 { padding: 45px}.pad50 { padding: 50px}
.padLeft5 { padding-left: 5px}.padLeft10 { padding-left: 10px}.padLeft15 { padding-left: 15px}.padLeft20 { padding-left: 20px}.padLeft25 { padding-left: 25px}.padLeft30 { padding-left: 30px}.padLeft35 { padding-left: 35px}.padLeft40 { padding-left: 40px}.padLeft45 { padding-left: 45px}.padLeft50 { padding-left: 50px}.padLeft100 { padding-left: 100px}
.padRight5 { padding-right: 5px}.padRight10 { padding-right: 10px}.padRight15 { padding-right: 15px}.padRight20 { padding-right: 20px}.padRight25 { padding-right: 25px}.padRight30 { padding-right: 30px}.padRight35 { padding-right: 35px}.padRight40 { padding-right: 40px}.padRight45 { padding-right: 45px}.padRight50 { padding-right: 50px}.padRight100 { padding-right: 100px}
.padTop5 { padding-top: 5px}.padTop10 { padding-top: 10px}.padTop15 { padding-top: 15px}.padTop20 { padding-top: 20px}.padTop25 { padding-top: 25px}.padTop30 { padding-top: 30px}.padTop35 { padding-top: 35px}.padTop40 { padding-top: 40px}.padTop45 { padding-top: 45px}.padTop50 { padding-top: 50px}.padTop100 { padding-top: 100px}
.padBtm5 { padding-bottom: 5px}.padBtm10 { padding-bottom: 10px}.padBtm15 { padding-bottom: 15px}.padBtm20 { padding-bottom: 20px}.padBtm25 { padding-bottom: 25px}.padBtm30 { padding-bottom: 30px}.padBtm35 { padding-bottom: 35px}.padBtm40 { padding-bottom: 40px}.padBtm45 { padding-bottom: 45px}.padBtm50 { padding-bottom: 50px}.padBtm100 { padding-bottom: 100px}

.marg5 { margin: 5px}.marg10 { margin: 10px}.marg15 { margin: 15px}.marg20 { margin: 20px}.marg25 { margin: 25px}.marg30 { margin: 30px}.marg35 { margin: 35px}.marg40 { margin: 40px}.marg45 { margin: 45px}.marg50 { margin: 50px}
.margLeft5 { margin-left: 5px}.margLeft10 { margin-left: 10px}.margLeft15 { margin-left: 15px}.margLeft20 { margin-left: 20px}.margLeft25 { margin-left: 25px}.margLeft30 { margin-left: 30px}.margLeft35 { margin-left: 35px}.margLeft40 { margin-left: 40px}.margLeft45 { margin-left: 45px}.margLeft50 { margin-left: 50px}
.margRight5 { margin-right: 5px}.margRight10 { margin-right: 10px}.margRight15 { margin-right: 15px}.margRight20 { margin-right: 20px}.margRight25 { margin-right: 25px}.margRight30 { margin-right: 30px}.margRight35 { margin-right: 35px}.margRight40 { margin-right: 40px}.margRight45 { margin-right: 45px}.margRight50 { margin-right: 50px}
.margTop5 { margin-top: 5px}.margTop10 { margin-top: 10px}.margTop15 { margin-top: 15px}.margTop20 { margin-top: 20px}.margTop25 { margin-top: 25px}.margTop30 { margin-top: 30px}.margTop35 { margin-top: 35px}.margTop40 { margin-top: 40px}.margTop45 { margin-top: 45px}.margTop50 { margin-top: 50px}
.margBtm5 { margin-bottom: 5px}.margBtm10 { margin-bottom: 10px}.margBtm15 { margin-bottom: 15px}.margBtm20 { margin-bottom: 20px}.margBtm25 { margin-bottom: 25px}.margBtm30 { margin-bottom: 30px}.margBtm35 { margin-bottom: 35px}.margBtm40 { margin-bottom: 40px}.margBtm45 { margin-bottom: 45px}.margBtm50 { margin-bottom: 50px}


.w5{width:5px}.w10{width:10px}.w15{width:15px}.w20{width:20px}.w25{width:25px}.w30{width:30px}.w35{width:35px}.w40{width:40px}.w45{width:45px}.w50{width:50px}.w55{width:55px}.w60{width:60px}.w65{width:65px}.w70{width:70px}.w75{width:75px}.w80{width:80px}.w85{width:85px}.w90{width:90px}.w95{width:95px}.w100{width:100px}.w125{width:125px}.w150{width:150px}.w175{width:175px}.w200{width:200px}.w225{width:225px}.w250{width:250px}.w275{width:275px}.w300{width:300px}.w325{width:325px}.w350{width:350px}.w375{width:375px}.w400{width:400px}.w425{width:425px}.w450{width:450px}.w475{width:475px}.w500{width:500px}.w525{width:525px}.w550{width:550px}.w575{width:575px}.w600{width:600px}.w625{width:625px}.w650{width:650px}.w675{width:675px}.w700{width:700px}.w725{width:725px}.w750{width:750px}.w775{width:775px}.w800{width:800px}
.w100p {width: 100%; } .w99p {width: 99%; } .w95p {width: 95%; } .w65p {width: 65%; } .w32p {width: 32%;} .w49p {width: 49%;} .w24p {width: 24%;}
.w25p {width: 25%;} .w33p {width: 33%;} .w50p {width: 50%;}

.hgap5 { display: block; height: 5px; }
.hgap10 { display: block; height: 10px; }
.hgap15 { display: block; height: 15px; }
.hgap20 { display: block; height: 20px; }
.hgap25 { display: block; height: 25px; }
.hgap30 { display: block; height: 30px; }
.hgap35 { display: block; height: 35px; }
.hgap40 { display: block; height: 40px; }
.hgap50 { display: block; height: 50px; }
.hgap100 { display: block; height: 100px; }
.hgap150 { display: block; height: 150px; }

.center { text-align: center !important; }
.textAlignCenter { text-align: center !important; }
.textAlignLeft { text-align: left !important; }

.floatLeft { float: left; }
.floatRight { float: right; }

.clearFix{
	content: " "; /* Older browser do not support empty content */
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}